body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #3e68d3;
  /* color: #d4aa40; */
  color: #ffffff;
}

/* Navigation Start */

.nav-container {
  background: #fff;
  color: #3e68d3;
  width: 100%;
}

.nav-container > ul {
  padding: 2em 1em;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  list-style: none;
  font-size: 1.25rem;
}

/* Navigation End */

/* Single Blog Entry Start */

.single-blog-container {
  background: #fff;
  color: #3e68d3;
  border: 1px solid black;
  margin: 1rem auto 0 auto;
  padding: 1rem;
  width: 90%;
  max-height: 75vh;
}

/* Single Blog Entry End */

/* Footer Start */

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  color: #3e68d3;
}

/* Footer End */
